<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greenbeast.beerrate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BrewBook"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">


    <activity
        android:name=".Splash"
        android:label="BrewBook" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name" >
    </activity>
        <activity
            android:name=".settings"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".trending"
            android:label="Trending Page" >
        </activity>
        <activity
            android:name=".user"
            android:label="User Profile" >
        </activity>
        <activity
            android:name=".location"
            android:label="Location" >
        </activity>
    </application>
</manifest>